/*
Theme Name: Ovation Blog
Theme URI: https://www.ovationthemes.com/wordpress/free-blog-wordpress-theme/
Author: pewilliams
Author URI: https://www.ovationthemes.com/
Description: Ovation Blog is a free Blog WordPress theme suitable for startups and medium sized companies, marketing, promoting your Blog online, corporate Blog, Blog websites, Blog agencies, news, n creative agencies, digital agencies, Music Blogs, Lifestyle Blogs, DIY Blogs, Green Blog, Career Blog Topics, Sports Blogs, affiliate blog, artistic, spirituality, home decor, fascinating portfolios, travel diaries, food blogs, fashion showcase, content promotion, fitness artwork blog, creative blog, vlog, corporate houses and other creative websites such as construction, technology travel, restaurant, hotel, real estate, gym, magazine, art, design, health, affiiate blogger, content marketting, organic traffic, portfolio, product showcase, organizations, e-commerce and other types of websites. Even without any coding skills, you can easily setup and customize your site with this amazing theme. It is an impressive theme which can also be used for professional Consulting and Finance industry, financial advisors, insurance brokers, accountants, lawyers, finance firms, adventure, blogger, personal blog, tourism, Consultants, Investments Consulting Services, Investment Experts, Trading and Investments, Development Agencies, or other Finance and Consulting related Blogs. The theme is minimal, luxurious, expert, elegant, sophisticated, clean, custom colors retina ready and responsive which can viewed on any device. It is a multipurpose and user- friendly theme with many customization and personalization options. It is also SEO friendly and translation ready theme. It has optimized codes, Footer Widgets, Custom Background etc. It is based on bootstrap framework. You can add a call to action button and link your social media pages to your website.
Version: 0.3.1
Requires PHP: 7.2
Tested up to: 5.8
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: ovation-blog
Tags: one-column, two-columns, right-sidebar, left-sidebar, grid-layout, full-width-template, sticky-post, block-styles, custom-colors, custom-background, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, threaded-comments, wide-blocks, blog, portfolio, photography

Ovation Blog WordPress Theme, Copyright 2020 pewilliams
Ovation Blog is distributed under the terms of the GNU GPL
*/

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #a8a8a8;
	letter-spacing: 1px;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif;
	color: #131313;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;	
}

abbr[title] {
	border-bottom: 1px #7a7a7a dotted;
	text-decoration: none;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: 700;
}

code,
kbd,
samp {
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #eee;
	color: #222;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

.box-center{
	align-self: center;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}
.single .entry-content p{
	margin-bottom: 18px;
}
.entry-content > p:first-of-type:first-letter{
	font-size: 70px;
	float: left;
	line-height: 60px;
	padding: 4px 12px 0 0;
}

/*-------------- Alignments ---------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignwide {
	margin-left  : -60px;
	margin-right : -60px;
}
.alignfull {
	margin-left  : calc( -100vw / 2 + 100% / 2 );
	margin-right : calc( -100vw / 2 + 100% / 2 );
	max-width    : 100vw;
}
.alignfull img {
	width: 100vw;
}

/*--------- Forms ---------*/

label {
	color: #323232;
	display: block;
	font-weight: 800;
	margin-bottom: 0.5em;
}

fieldset {
	margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #222;
	border-color: #323232;
}

select {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #222;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}

input + button,
input + input[type="button"],
input + input[type="submit"] {
	padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: #ddd;
	color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #7a7a7a;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
	background: #bbb;
}

/*------ Formatting ---------*/

hr {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*-------- Lists ----------*/

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

/*---------- Tables ---------*/

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}

th {
	padding: 0.4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: 0.4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*---------- Links -----------*/

a {
	color: #7eaf83;
	text-decoration: none;
}
a:hover,
a:active {
	color: #bbb;
	outline: 0;
	text-decoration: none;
}
.entry-content a,.entry-summary a {
    text-decoration: underline;
}

/*------------- Header -------------*/

.admin-bar .fixed{
    margin-top: 32px;
}
.wrap_figure.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 8px 4px #eee;
}
.wrap_figure  {
    padding: 12px 0;
    background: #fafafa;
}
.links {
    margin: 5px 0;
}
.links i {
    font-size: 15px;
    margin-right: 12px;
    color: #6d6d6d;
}

/* ----- header navigation ----- */

#gb_responsive {
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.gb_nav_menu ul{
  margin: 0;
  padding:0;
  font-size:14px;
}
.gb_nav_menu li{
  display:inline-block;
  margin:0;
  position:relative;
}
.gb_nav_menu li a{
	color: #3a3a3a;
	padding: 6px;
	display: block;
	font-size: 15px;
	font-weight: 600;
}
.gb_nav_menu ul li a:active,
.gb_nav_menu ul li a:hover{
  color: #7eaf83;
}
.gb_nav_menu ul ul{
	display: none;
	position: absolute;
	background: #373737;
	min-width: 200px;
	z-index: 9999;
}
.gb_nav_menu ul ul ul{
  left: 100%;
  top: 0;
}
.gb_nav_menu ul ul a{
	color: #fff;
	padding: 10px;
}
.gb_nav_menu ul ul a:hover{
  background: #7eaf83;
  color: #fff !important;
}
.gb_nav_menu ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-left: none;
  border-right: none !important;
  padding: 0;
}
.gb_nav_menu ul ul li:last-child{
  border-bottom: 0;
}
.gb_nav_menu ul li:hover > ul{
  display: block;
}
.gb_nav_menu li a:hover{
  color: #7eaf83;
}
.gb_nav_menu .menu > ul > li.highlight{
  background-color: #006ccc;
}
.gb_nav_menu .menu > ul > li.highlight:hover{
  background: transparent;
}
.sf-arrows ul .sf-with-ul{
  padding: 10px;
}
.sf-arrows .sf-with-ul,
.topbar .sf-arrows .sf-with-ul{
  padding: 10px 18px 10px 8px;
}
.sf-arrows .sf-with-ul:after{
  content: '\f0dd';
  position: absolute;
  right: 5px;
  top: 4px;
  font-size: 18px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.topbar .sf-arrows .sf-with-ul:after{
  font-size: 14px;
  top:7px;
  right: 8px;
}
.sf-arrows ul .sf-with-ul:after{
  top: 4px;
}
.toggle-menu, a.closebtn{
  display: none;
}

/*------- Header ---------*/
#masthead .wrap {
	position: relative;
}

/* Site branding */

.site-branding {
	padding: 1em 0;
	position: relative;
	-webkit-transition: margin-bottom 0.2s;
	transition: margin-bottom 0.2s;
	z-index: 3;
}

.site-branding a {
	text-decoration: none;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.site-branding a:hover,
.site-branding a:focus {
	opacity: 0.7;
}

.site-title {
	clear: none;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1.25;
	margin: 0;
	padding: 0;
}

.site-title,
.site-title a {
	color: #222;
	opacity: 1; 
}

.custom-logo-link {
	display: inline-block;
	padding-right: 1em;
	vertical-align: middle;
	width: auto;
}

.custom-logo-link img {
	display: inline-block;
	max-height: 80px;
	width: auto;
}

/* Logo */

.logo h1,
.site-title,
.site-title a {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
}
.logo h1 a {
    color: #3d3f43;
    text-decoration: none;
}
.logo p{
	font-size: 15px;
	color: #3d3f43;
	margin-bottom: 0;
}

/* --------- Search --------- */

.search-box button.search-submit {
	padding: 10px 20px;
    background: url(assets/images/search.png) no-repeat scroll #7eaf83 10px;
    text-indent: -9999px;
}
.search-box input[type="search"] {
    padding: 12px 15px;
    margin: 0;
    border: none;
    border-radius: 8px;
}

/* --------- SLIDER--------- */
#slider{ 
	max-width:100%;
	padding:0;
	background: #000;
}
#slider .carousel-caption {
    bottom: 0;
    right: 22%;
    left: 6%;
}
#slider .carousel-control-next-icon, 
#slider .carousel-control-prev-icon {
    padding: 10px 15px;
    background: #131313;
    border-radius: 50%;
    opacity: 0.6;
	width: auto;
	height: auto;
}
#slider .carousel-control-next-icon:hover, 
#slider .carousel-control-prev-icon:hover {
    background: #7eaf82;
}

#slider img {
	width: 100%;
	opacity: 0.7;
}
#slider .carousel-item-next,
#slider .carousel-item-prev,
#slider .carousel-item.active {
	display: block !important;
}
#slider .carousel-control-next, 
#slider .carousel-control-prev {
    opacity: 1;
    top: auto;
    bottom: 10%;
}
#slider .carousel-control-prev {
    left: 75%;
}
#slider .inner_carousel h2{
	padding: 0px;
	font-size: 50px;
    font-weight: bold;
}
#slider .inner_carousel h2,
#slider .inner_carousel a {
	text-align: left;
	color: #fff;
}
.home-btn {
	text-align: left;
	margin: 15px 0;
}
.home-btn a {
    background: #7eaf83;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
}
.home-btn a:hover{
	background: #3a3a3a;
}

/*--------- About Section--------- */

#our-post {
    overflow-y: scroll;
    height: 700px;
    overflow-x: hidden;
    padding-right: 25px;
}
#our-post::-webkit-scrollbar-track
{
	background-color: #f2f2f2;
}

#our-post::-webkit-scrollbar
{
	width: 10px;
	background-color: #f2f2f2;
}

#our-post::-webkit-scrollbar-thumb
{
	background-color: #7eaf82;	
}
#our-post .box-content,
#top-cat .box-content {
    margin: 15px;
    text-align: left;
    position: relative;
    margin-top: -75px;
    background: #fff;
    padding: 10px 25px;
}
#our-post h4 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
}
p.entry-author img {
    border-radius: 50%;
    width: 15%;
}

/*--------- Top Category Section--------- */

#top-cat {
    padding: 4% 0;
    text-align: center;
}
#top-cat h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
#top-cat p {
    font-size: 15px;
    text-transform: uppercase;
}
#top-cat .box-content {
    margin-top: -40px;
    text-align: center;
}
#top-cat h4 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}
#top-cat a {
    font-size: 14px;
    font-weight: bold;
}

/*--------- Category Section--------- */

.content-area {
  margin: 20px 0;
}
#Category-section{
    padding: 15px 0;
    width: 100%;
}
#Category-section .postbox.smallpostimage{
	padding: 10px;
	border: 1px solid #c0d3d3;
	text-align: center;
}
#Category-section .postbox.smallpostimage:hover h3 a{
	color: #7eaf83;
}
#Category-section .overlay,
#single-post-section .overlay {
    padding: 15px 0 0;
}
#Category-section .overlay p,
#single-post-section .overlay p {
	text-align: center;
    font-size: 15px;
}
#Category-section h3 a {
   font-size: 22px;
   font-weight: bold;
   color: #000;
}
#Category-section h3{
	text-align: center;
	padding: 0px;
}
#Category-section .date-box,
#single-post-section .date-box{
	text-align: center;
	font-size: 13px;
    margin-bottom: 5px;
    font-weight: 600;
}
#single-post-section .date-box{
	text-align: left;
}
#Category-section .date-box i,
#single-post-section .date-box i{
	margin-right: 5px;
}
#Category-section .date-box span,
#single-post-section .date-box span{
	margin-right: 15px;
}

/*--------- Woocommerce Section--------- */

.woocommerce ul.products li.product .star-rating{
	margin: 0 auto .5em;
}
.woocommerce .products li {
  width: 30% !important;
  text-align: center;
}
.woocommerce #sidebar {
  margin-top: 2em;
}
a.showcoupon,
.woocommerce-message::before{
	color: #7eaf83;
}
.woocommerce-message {
  border-top-color: #7eaf83;
}
.woocommerce span.onsale {
  background: #7eaf83;
  color: #fff;
  padding: 0;
  border-radius: 0;
  margin: 0 !important;
}
h2.woocommerce-loop-product__title{
  color: #999;
  font-weight: 500;
  font-size: 15px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #323232;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
	margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background: #7eaf83;
	color: #fff;
	border-radius: 0;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background: #323232;
	color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 5px;
  border-radius: 0;
  border: solid 1px #323232;
  color: #323232;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #7eaf83 !important;
  padding: 12px!important;
  margin-bottom: 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff !important;
  font-weight: bold;
  font-style: none !important;
}
.posted_in {
  display: block;
}
.woocommerce .woocommerce-ordering select{
	padding: 10px;
}
span.woocommerce-input-wrapper{
 width: 100%;
}
.woocommerce-product-gallery__image{
  padding: 2px;
}
.woocommerce a.checkout-button.button.alt.wc-forward{
	color: #fff !important;
	font-style: none;
}
.woocommerce a.checkout-button.button.alt.wc-forward:hover{
	text-decoration: none !important;
}
/*----- Category Image -----*/
.thumnail img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.7;
  transition: 1s;
}
.thumnail img{
	width: 100%;
}
.thumnail {
  position: relative;
  width: 100%;
  background:#7eaf83;
  overflow: hidden;
}
.image {
 opacity: 1;
 display: block;
 width: 100%;
 height: auto;
 transition: .5s ease;
 backface-visibility: hidden;
}
.box-image img:hover {
    opacity:0.7;
}
.box-image{
	width: 100%;
}

/*-------- Regular Content -----------*/

.site-content-contain {
	position: relative;
}
.site-content {
	padding: 2.5em 0 0;
}

/*-------- Posts ----------------*/

/* Post Landing Page */

.sticky {
	position: relative;
	border-left: solid 4px #7eaf83;
}
.entry-header .entry-title {
	margin-bottom: 0.25em;
}
.entry-title a {
	color: #000;
	text-decoration: none;
	margin-left: -2px;
}
h3.entry-title a:hover {
    color: #7eaf83 ;
}
.entry-title:not(:first-child) {
	padding-top: 0;
}
.entry-meta {
	color: #7a7a7a;
	font-size: 11px;
	font-size: 0.6875rem;
	font-weight: 800;
	padding-bottom: 0.25em;
}
.entry-meta a {
	color: #7a7a7a;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.pagination,
.comments-pagination {
	font-size: 14px;
	font-weight: 800;
	padding: 2em 0 3em;
	text-align: center;
}

.pagination .icon,
.comments-pagination .icon {
	width: 0.666666666em;
	height: 0.666666666em;
}

.comments-pagination {
	border: 0;
}

.page-numbers {
	display: none;
	padding: 0.5em 0.75em;
}

.page-numbers.current {
	display: inline-block;
	background: #7eaf83;
	color: #fff;
}

.page-numbers.current .screen-reader-text {
	clip: auto;
	height: auto;
	overflow: auto;
	position: relative !important;
	width: auto;
}

.prev.page-numbers,
.next.page-numbers {
	background-color: #7eaf83;
	display: inline-block;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1;
	padding: 0.25em 0.5em 0.4em;
	color: #fff;
    font-weight: normal;
}

.prev.page-numbers,
.next.page-numbers {
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
    background: #f7f6f9;
    box-shadow: 1px 3px 7px #aaa;
    color: #000;
    cursor: pointer;
}

.prev.page-numbers,
.next.page-numbers {
	font-size: 15px;
	padding: 10px;
}

.link-more {
    text-align: center;
    margin-top: 0px;
}
a.more-link {
	color: #fff;
    background: #7eaf83;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
}

.more-link:before {
    margin-top: 0 !important;
}

/* More tag */

.entry-content .more-link:before {
	content: "";
	display: block;
	margin-top: 1.5em;
}

.article_content {
    background: #eee;
    margin-bottom: 20px;
    padding: 20px;
	box-shadow: 1px 3px 7px #bbb;
	border-left: 5px solid #000;
}

/* Single Post */

.single-featured-image-header {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
}

.page-links {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	padding: 2em 0 3em;
}

.page-links .page-number {
	color: #7a7a7a;
	display: inline-block;
	padding: 0.5em 1em;
}

.page-links a {
	display: inline-block;
}

.page-links a .page-number {
	color: #222;
}

/* Entry footer */

.copyright{
	background: #3a3a3a;
	width: 100%;
}
nav.social-navigation :hover {
    color: #00bcd4;
}
.entry-footer {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin-top: 2em;
	padding: 2em 0;
}
.entry-footer .cat-links,
.entry-footer .tags-links {
	display: block;
	font-size: 11px;
	font-size: 0.6875rem;
	font-weight: 800;
	padding-left: 2.5em;
	position: relative;
}

.entry-footer .cat-links + .tags-links {
	margin-top: 1em;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
	color: #323232;
}

.entry-footer .cat-links .icon,
.entry-footer .tags-links .icon {
	color: #7a7a7a;
	left: 0;
	margin-right: 0.5em;
	position: absolute;
	top: 2px;
}

.entry-footer .edit-link {
	display: inline-block;
}

.entry-footer .edit-link a.post-edit-link {
	background-color: #222;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	margin-top: 2em;
	padding: 0.7em 2em;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	white-space: nowrap;
}

.entry-footer .edit-link a.post-edit-link:hover,
.entry-footer .edit-link a.post-edit-link:focus {
	background-color: #7a7a7a;
}
/* Post Formats */

.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
/* Post Navigation */

.navigation{
	float: left;
	width: 100%;
}
.post-navigation {
	font-weight: 800;
	margin: 3em 0;
}

.post-navigation .nav-links {
	padding: 1em 0;
}

.nav-subtitle {
	background: transparent;
	color: #7a7a7a;
	display: block;
	font-size: 11px;
	font-size: 0.6875rem;
	margin-bottom: 1em;
}

.nav-title {
	color: #323232;
	font-size: 15px;
	font-size: 0.9375rem;
}

.post-navigation .nav-next {
	margin-top: 1.5em;
}

.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
	margin-right: 0.5em;
}

.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
	margin-left: 0.5em;
}

/*----------- Pages ---------*/
.page-header h1,
.entry-header h1,
.page-header h2,
.single-post-page h2,
h1.entry-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 0px;
}
.page-header,
.entry-header,
.single-post-page h2 {
	padding-bottom: 1em;
    padding-top: 1em;
    
}
.single-post-page h2{
	font-weight: bold;
    padding: 0px;
    margin-bottom: 15px;
}
.page .entry-header .edit-link {
	font-size: 14px;
	font-size: 0.875rem;
}
.search .page .entry-header .edit-link {
	font-size: 11px;
	font-size: 0.6875rem;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*----------- Footer --------------*/

.site-info {
	font-size: 14px;
	padding: 3% 0;
	background: #1a1a1a;
	color: #fff;
}
.site-info a{
	color: #fff !important;
}
.site-footer .wrap {
	padding-bottom: 1.5em;
	padding-top: 2em;
}

/* Footer widgets */

.site-footer .widget-area a:hover{
	color: #7eaf83;
}
.site-footer .search-form .search-submit{
	background: #7eaf83;
	color: #fff;
}
.site-footer .widget-area ul li a,
.site-footer .textwidget {
	color: #ffffff;
}
.site-footer .widget ul li,
.site-footer .widget ol li{
	color: #fff;
    padding: 4px 0;
    list-style: none;
    font-size: 15px;
}
.site-footer h3.widget-title {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: solid 2px #fff;
    border-top: solid 1px #fff;
    padding: 4% 0;
}
.site-footer input[type="search"] {
  	padding: 10px;
    font-size: 14px;
    margin-bottom: 0px;
    color: #fff;
    width: 100%;
    border: none;
}
.site-footer .search-form .search-submit{
	bottom: 1px;
    padding: 10px;
    position: absolute;
    right: 1px;
    background: #7eaf83;
    color: #fff;

}
/* Social nav */

.social-navigation {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 1em;
}

.social-navigation ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}

.social-navigation li {
	display: inline;
}

.social-navigation a {
	background-color: #323232;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	color: #fff;
	display: inline-block;
	height: 40px;
	margin: 0 1em 0.5em 0;
	text-align: center;
	width: 40px;
}

.social-navigation a:hover,
.social-navigation a:focus {
	background-color: #222021;
}

.social-navigation .icon {
	height: 16px;
	top: 12px;
	width: 16px;
	vertical-align: top;
}

/*------- Comments ------------*/
.pre .nav-links a,
.nex .nav-links a{
    background: #000;
    color: #fff;
    padding: 5px 10px;
}
.pre,.nex {
    margin: 0 0 20px;
}
#comments {
	clear: both;
	padding: 2em 0 0.5em;
}
.comments-title {
	font-size: 20px;
	font-size: 1.25rem;
	margin-bottom: 1.5em;
}

.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li:before {
	display: none;
}

.comment-body {
	margin-left: 65px;
}

.comment-author {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}

.comment-author .avatar {
	height: 50px;
	width: 50px;
}

.comment-author .says {
	display: none;
}

.comment-meta {
	margin-bottom: 1.5em;
}

.comment-metadata {
	color: #7a7a7a;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 800;
	text-transform: uppercase;
}

.comment-metadata a {
	color: #7a7a7a;
}

.comment-metadata a.comment-edit-link {
	color: #222;
	margin-left: 1em;
}

.comment-body {
	color: #323232;
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 4em;
}

.comment-reply-link {
	font-weight: 800;
	position: relative;
}

.comment-reply-link .icon {
	color: #222;
	left: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.children .comment-author .avatar {
	height: 30px;
	left: -45px;
	width: 30px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid #323232;
	padding: 2px;
}

.no-comments,
.comment-awaiting-moderation {
	color: #7a7a7a;
	font-size: 14px;
	font-size: 0.875rem;
	font-style: italic;
}

.comments-pagination {
	margin: 2em 0 3em;
}

.form-submit {
	text-align: right;
}
/*sidebar*/

#sidebar td#prev a {
  color: #7eaf83;
}
#sidebar caption {
  font-weight: bold;
  color: #7eaf83;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #7eaf83;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #7eaf83;
}
#sidebar select {
  padding: 10px 5px;
  border: solid 1px #000;
  color: #7eaf83;
  background: transparent;
}
#sidebar h3 {
	font-weight: bold;
	font-size: 22px;
	color: #000;
	text-align: center;
	border-bottom: solid 2px #000;
	border-top: solid 1px #000;
	padding: 4% 0;
}
#sidebar input[type="search"],
input[type="search"] {
	padding: 17px;
	font-size: 14px;
	margin-bottom: 0px;
	color: #c0d3d3;
	border: solid 1px #c0d3d3;
	width: 100%;
}
#sidebar .search-form .search-submit{
	bottom: 4px;
    padding: 15px;
    position: absolute;
    right: 4px;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar input[type="submit"]{
  background:#7eaf83;
  color:#fff;
  padding:10px 0;
  font-size:12px;
  width: 100%;
  font-weight: bold;
}
#sidebar .widget {
  margin-bottom: 25px;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
}
#sidebar ul li {
    border-bottom: 1px dashed #ddd;
    background: url(assets/images/icon1.png) no-repeat 0 15px;
    margin: 0 0 5px;
    padding: 10px 20px 10px;
}
#sidebar ul li:last-child{
	border: none;
}
#sidebar ul li a {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
#sidebar .tagcloud a,
.site-footer .tagcloud a{
  background:#eeeeee;
  color:#3a3a3a;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#sidebar .tagcloud a:hover,
.site-footer .tagcloud a:hover{
  background:#7eaf83;
  color: #fff;
}

/* Search */

.search-form {
	position: relative;
}
.search-form .search-submit {
	bottom: 3px;
	padding: 16px 25px;
	position: absolute;
	right: 3px;
}
.search-form .search-submit .icon {
	height: 24px;
	top: -2px;
	width: 24px;
}
button.search-submit{
	background-color: #7eaf83;
	font-weight: normal;
}

/* Calendar widget */

.widget_calendar th,
.widget_calendar td,
.widget_calendar caption {
	text-align: center;
	color:#ffffff;
}
.widget_calendar tfoot td {
	border: 0;
}

/*----------- Media ----------*/

img,
video {
	height: auto; 
	max-width: 100%;
}

/*--------- Galleries --------*/

.gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0 0 1.5em;
	padding: 0 1em 0 0;
	width: 50%;
}
.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}
.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%);
	filter: opacity(60%);
}
.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 10px 0 0;
	margin-bottom: 0;
}

/*--------- Site Loader --------------*/

.preloader {
  background: #fff;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  z-index: 99999;
}
.load{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100px;
	height:100px;
}
.load hr{
	border:0;
	margin:0;
	width:40%;
	height:40%;
	position:absolute;
	border-radius:50%;
	animation:spin 2s ease infinite;
}
.load :first-child{background:#7eaf83;animation-delay:-1.5s}
.load :nth-child(2){background:#7eaf83;animation-delay:-1s}
.load :nth-child(3){background:#7eaf83;animation-delay:-0.5s}
.load :last-child{background:#7eaf83}
@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}

/*--------- Media --------------*/

@media screen and (min-width: 30em) {

	h1 {
		font-size: 30px;
		font-size: 1.875rem;
	}

	h2,
	.home.blog .entry-title,
	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	h3 {
		font-size: 22px;
		font-size: 1.375rem;
	}

	h4 {
		font-size: 18px;
		font-size: 1.125rem;
	}

	h5 {
		font-size: 13px;
		font-size: 0.8125rem;
	}

	h6 {
		font-size: 16px;
		font-size: 1rem;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 14px;
		font-size: 0.875rem;
	}

	/* Fix image alignment */
	img.alignleft {
		float: left;
		margin-right: 1.5em;
	}

	img.alignright {
		float: right;
		margin-left: 1.5em;
	}
	/* Front Page */

	.panel-content .wrap {
		padding-bottom: 2em;
		padding-top: 3.5em;
	}

	.page-one-column .panel-content .wrap {
		max-width: 740px;
	}

	.panel-content .entry-header {
		margin-bottom: 4.5em;
	}

	.panel-content .recent-posts .entry-header {
		margin-bottom: 0;
	}

	/* Blog Index, Archive, Search */

	.taxonomy-description {
		font-size: 14px;
		font-size: 0.875rem;
	}

	/* Gallery Columns */

	.gallery-item {
		max-width: 25%;
	}

	.gallery-columns-1 .gallery-item {
		max-width: 100%;
	}

	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
}

@media screen and (min-width: 48em) {
	
	/* Posts */
	.site-content {
		padding: 2em 0 0;
	}
	.comments-pagination,
	.post-navigation {
		clear: both;
	}
	.post-navigation .nav-previous {
		float: left;
		width: 50%;
	}
	.post-navigation .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
	.nav-next,
	.post-navigation .nav-next {
		margin-top: 0;
	}
	.blog .site-main > article,
	.archive .site-main > article,
	.search .site-main > article {
		padding-bottom: 4em;
	}
	.navigation.pagination {
		clear: both;
		float: right;
		width: 58%;
	}
	.entry-footer {
		display: table;
		width: 100%;
	}
	.entry-footer .cat-tags-links {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
	.entry-footer .edit-link {
		display: table-cell;
		text-align: right;
		vertical-align: middle;
	}
	.entry-footer .edit-link a.post-edit-link {
		margin-top: 0;
		margin-left: 1em;
	}

	/* Comments */
	.comments-title {
		margin-bottom: 2.5em;
	}
	ol.children .children {
		padding-left: 2em;
	}
	/* Posts pagination */
	.nav-links .nav-title {
		position: relative;
	}
	.nav-title-icon-wrapper {
		position: absolute;
		text-align: center;
		width: 2em;
	}
	.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
		left: -2em;
	}
	.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
		right: -2em;
	}

	/* Footer */
	.site-info {
		text-align: center;
	}
	.site-info .sep {
		margin: 0 0.5em;
		display: inline;
		visibility: visible;
		height: auto;
		width: auto;
	}
}

@media screen and ( min-width: 67em ) {
	.page-numbers {
		display: inline-block;
    	border: 1px solid #2a2a2a;
    	margin-right: 5px;
	}
	.page-numbers:hover{
		background: #7eaf83;
	}
	.page-numbers.current .screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}
	.comment-body {
		margin-left: 0;
	}
}

@media screen and ( max-width: 768px){
	.logo p{
		font-size: 10px;
	}
	.logo h1{
		font-size: 23px;
	}
	h2.widget-title{
		color: #fff;
	}
	.site-footer a{
		color: #7eaf83;
	}
	.site-footer {
		color: #7eaf83;
	}
	.site-footer td,
	#sidebar .widget_calendar th,
	#sidebar .widget_calendar td{
		padding: 3px;
	}
	p.link-more {
	    width: 100%;
	}
	.site-footer .search-form .search-submit,
	#sidebar .search-form .search-submit {
	    bottom: 0px;
	    padding: 10px;
	    position: static;
	    right: 0px;
	    margin-top: 10px;
	}
	#header .header_h2,
	#header .header_para{
		color: black;
	}
}
@media screen and (max-width: 800px){
	.gb_nav_menu .nav ul li a:focus,
	a.closebtn.gb_menu:focus{
		outline: 1px dotted #fff;
		border-bottom: 1px solid #fff;
	}
	.toggle-menu {
		display: none;
		width: 100%;
		top: 0;
		cursor: pointer;
		z-index: 999999;
		text-align: left;
		right: 0;
		font-size: 20px;
	}
	.toggle-menu button:focus{
		outline: none;
	}
	.toggle-menu.gb_menu p {
		margin-bottom: 0;
	}
	.toggle-menu i {
		font-size: 22px;
		color: #fff;
	}
	.toggle-menu button {
		border: none;
		color: #fff;
		padding: 8px 15px;
	}
	.side_gb_nav {
		max-height: 100%;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 9999999;
		top: 110%;
		right: 0;
		overflow-y: scroll;
		background-color: #1a1a1a;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		visibility: hidden;
	}
  	.side_gb_nav.show {
	    visibility: visible;
	    top:0%;
  	}
	.side_gb_nav .closebtn {
		position: absolute;
		top: 0;
		padding: 0px 18px;
		font-size: 42px;
		display: block;
		color: #ffffff;
	}
	.side_gb_nav .closebtn i{
		margin: 15px;
	}
	.side_gb_nav #top_gb_menu {
		width: 100%;
	}
	.toggle-menu span{
		font-size:30px;
		cursor:pointer; 
		text-align: right;
	}
	.toggle-menu{
		display: block;
	}
	.toggle i.fa.fa-bars,.toggle i.fa.fa-times {
		float: right;
		color: black;
	}
	.gb_nav_menu .nav ul li{
		border-top:1px #303030 solid; 
		display:block;
	}
	.nav ul li a{
		padding: 10px 15px;
		display: block;
		color: #ffffff !important;
		border: none;
		border-bottom: 1px solid #3c3c3c;
		background: none !important;
	}
	.sf-arrows .sf-with-ul:after{
		right: 20px;
	}
	.nav ul li:first-child a{
		border-top: 1px solid #3c3c3c;
	}
	.nav ul li:first-child ul li a{
		border-top: none;
	}
	.gb_nav_menu .current_page_item > a, .gb_nav_menu .current-menu-item > a, .gb_nav_menu .current_page_ancestor > a {
		color: #7eaf83;
	}
	.nav ul li ul li a:before{
		content:"__";
		padding-right: 10px;
	}
	.nav ul li ul li a{
		padding-left:20px !important;
	}
	.nav ul li ul li ul li a{
		padding-left:30px !important;
	}
	.gb_nav_menu ul ul{
		position: static;
		width: 100%;
		background: none;
		border:none;
	}
	.gb_nav_menu li{
		padding: 0;
		display: block;
	}
	.gb_nav_menu ul{
		margin: 0;
	}
	.main-header-box{
		padding-bottom: 15px;
	}
	#gb_responsive {
		text-align: left;
		display: inline;
	}
	.gb_nav_menu .sub-menu > li > a:focus, .nav ul li a:focus{
		outline: 1px dotted #fff;
	}
}
@media screen and (max-width:425px){
	.links,.site-info{
		text-align: center;
	}
	.wrap_figure.fixed{
		position: static;
	}
	.media-pad {
	    padding: 0;
	}
	.media-post-pad {
	    padding: 0 15px 0 30px;
	}
	#our-post {
	    margin-top: 35px;
	    padding-right: 15px;
	}
	#our-post .box-content{
		padding: 10px; 
	}
	.site-footer .search-form .search-submit,
	#sidebar .search-form .search-submit {
	    bottom: 3px;
	    padding: 13px;
	    position: absolute;
	    right: 3px;
	}
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product{
		width: 100% !important;
		float: none !important;
	}
	.site-info{
		padding: 2em 0; 
	}
	.alignwide {
		margin-left: 0;
		margin-right: 0;
	}
}
@media screen and (max-width: 999px) and (min-width: 768px){
	#our-post{
    	height: 410px;
	}
	.site-footer td,
	.site-footer th{
		padding: 0px;
	}
	.woocommerce .products li {
    	width: 40% !important;
  	}
}

/*footer {*/
/*	position: fixed;*/
/*	bottom: 0;*/
/*	width: 100%;*/
/*	height: 120px;*/
/*}*/


/*body, #page {*/
/*	padding-bottom: 120px;*/
/*}*/