/*Cutomizer CSS*/
#accordion-section-responsive_blogger_pro h3.accordion-section-title{
	background: #d56060;
	color:#fff;
}
#customize-controls #accordion-section-responsive_blogger_pro .accordion-section-title:focus, #customize-controls #accordion-section-responsive_blogger_pro .accordion-section-title:hover, #customize-controls #accordion-section-responsive_blogger_pro.open .accordion-section-title, #customize-controls #accordion-section-responsive_blogger_pro:hover>.accordion-section-title{
  background: #fbefef;
  color: #1f0505;
}
#customize-theme-controls #accordion-section-responsive_blogger_pro .accordion-section-title:after{
  color:#fff;
}
#customize-controls .control-section .accordion-section-title:hover,#customize-controls .control-section .accordion-section-title:focus{
  border-left-color:#d56060;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.upsell-btn > .btn-success {
  color: #fff;
  background-color: #d56060;
  text-decoration: none;
}
.upsell-btn > .btn-success:hover {
  color: #1f0505;
  background-color: #fbefef;
}
.upsell-btn{
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}
.upsell-btn-bottom{
  margin-top:20px;
}
.upsell-btn > a.btn.btn-success.btn {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}